<div class="ui-g">
    <div class="ui-g-6 ui-g-offset-2">
        <div class="search">
            <div class="ui-input-group ui-g-6 ui-g-offset-2">
                <!-- <input type="text" name="search"  pInputText placeholder="Search by name, email and phone" #searchText (keydown.enter)="employeeSearch(searchText)" /> -->
            </div>
            <div class="ui-g-2">
                <!-- <p-button type="submit" (click)="employeeSearch(searchText)">
                    <i class="fa fa-search"></i>    
                </p-button> -->
            </div>
        </div>
    </div>
    <div class="ui-g-2 ui-g-offset-2">
        <p-button label="Add Employee" class="ui-button-raised" (click)="openDialog()"></p-button>
    </div>
    <div class="ui-g-8 ui-g-offset-2">
        <p-table [value]="employees">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols" >
                        {{col.header}}
                        <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
                <tr>
                    <td *ngFor="let col of cols">
                        {{employee[col.field]}}
                    </td>
                    <td class="action-buttons">
                        <span><i class="fa fa-eye pr-10" title="View" (click)="viewEmployee(employee)"></i></span>
                        <span><i class="fa fa-edit pr-10" title="Edit" [routerLink]="['employee-edit', employee._id]"></i></span>
                        <span><i class="fa fa-archive pr-10" title="Archive" (click)="archiveEmployee(employee['_id'])"></i></span>
                    </td>
                </tr>
            </ng-template>

            <!-- no data found -->
            <!-- <ng-template pTemplate="emptymessage" let-columns>      
                <tr>
                    <td [attr.colspan]="columns.length">
                        No records found
                    </td>
                </tr>
            </ng-template>   -->
        </p-table>
    </div>
</div>

<!-- <h3>Advanced (Multiple, Checkbox and Filter)</h3>
<p-listbox [options]="cities" (click)="onClickMethod(selectedCities)" (onChange)="selectedCity(selectedCities)" [(ngModel)]="selectedCities" multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="name">
   
</p-listbox>

<p>Selected Cities: <span *ngFor="let c of selectedCities" style="margin-right: 10px">{{c.name}}</span></p>
 -->

<p-dialog header="Add an Empployee" [(visible)]="showDialog" [style]="{width:'600px', height: 'auto'}">
    <div class="ui-g-12">
        <form action="" [formGroup]="userForm"  (ngSubmit)="onSubmit(userForm)">
            <div class="ui-g-8 ui-g-offset-2">
                <div class="ui-input-group">
                    <span class="ui-float-label">
                        <input type="text" formControlName="name" pInputText name="name" id="name" />
                        <label for="float-input"> Name </label>
                        <div *ngIf="userForm.controls.name.touched && userForm.get('name').hasError('required')"> Name is required </div>
                    </span>
                </div>
                <br>
                <div class="ui-input-group">
                    <span class="ui-float-label">
                        <input type="email" formControlName="email" pInputText name="email" id="email"  />
                        <label for="float-input"> Email </label>
                        <div *ngIf="userForm.controls.email.touched && userForm.controls.email.hasError('required')"> Email is required </div>
                        <div *ngIf="userForm.controls.email.touched && userForm.controls.email.hasError('email')"> Invalid email address, Please enter a valid email </div>
                    </span>
                </div>
                <br>
                <div class="ui-input-group">
                    <span class="ui-float-label">
                            <input type="text" formControlName="phone" pInputText name="phone" id="phone" />
                        <label for="float-input"> Phone </label>
                        <div *ngIf="userForm.controls.phone.touched && userForm.controls.phone.hasError('required')"> phone is required </div>
                    </span>
                </div>
                <br>
                <div class="ui-input-group">
                    <p-button type="submit" label="Submit" class="ui-button-raised" [disabled]="userForm.invalid" ></p-button>
                </div>
            </div>
        </form>
    </div>
</p-dialog>


